<!DOCTYPE html>
<html>
  <head>
    <title>Family Photo Album</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified JavaScript -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!-- 導覽列 -->
    <nav class="my-nav navbar-fixed-top navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="my-brand navbar-brand" href="#">我的相簿</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="pull-right nav navbar-nav">
            <!-- <li><a class="btn btn-default" href="#about" role="button">nav</a></li> -->
            <!-- <li><a class="btn btn-default" href="#my-exp" role="button">nav</a></li> -->
            <li><%= link_to "New Photo", new_photo_path, class: "btn btn-default" %></li>
            <li><a class="btn btn-default" href="#" role="button">Contact Me</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
